<div class="container">
    <h1>Handy</h1>
    <nav class="nav has-shadow">
        <br>
        <div class="container"></div>
        <nav class="nav-right">
            <ul class="nav-item is-tab button is-primary">Chicago</ul>
            <ul class="nav-item is-tab button is-primary">New York</ul>
            <ul class="nav-item is-tab button is-primary">Los Angeles</ul>
            <ul class="nav-item is-tab button is-primary">San Francisco</ul>
            <a href="">Visit W3Schools</a>
            <ul class="nav-item is-tab is-primary log">| Log out |</ul>
            <ul class="nav-item is-tab is-primary log">| Sign up |</ul>
        </nav>


    </nav>
    <br>
    <h2 class="is-large">Denver</h2>
    <hr>
    <h3 class="text-center">Plumbers</h3>
    <hr>
    <div class="container">
        <div class="columns">
            <div class="column">
                {{#profile}}
                <div class="box">
                    <h1>{{email}}</h1>
                    <p>City: {{password}}</p>
                </div>
                {{/profile}}
            </div>
        </div>
    </div>
</div>



{{!-- <div class="box">
    <div class="columns">
        <div class="column">
            <img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2F25%2F3a%2Fbf%2F253abf4f1f4bc16b6dc04571f8d21624--headshot-poses-headshot-photography.jpg&f=1&nofb=1">
        </div class>
        <div class="column">
            <h3>User Name:{{bizName}}</h3>
            <hr>
            <ul>
                <li>City:{{city}}</li>
                <li>Rating:</li>
            </ul>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="table-container">
                <table class="table-is-bordered">
                    <thead>
                        <tr>
                            <th>Contact Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Business Name:{{bizName}}</td>
                            <td>dj;ad</td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>(302)444-4444</td>
                        </tr>
                        <tr>
                            <td>dj;ad</td>
                            <td>dj;ad</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div> --}}
{{!-- <div class="column"> --}}

{{!-- <div class="container">
        <div class="columns">
            {{#profile}}
            <div class="column">
                <h1>{{profileName}}</h1>
                {{otherProfileStuff}}
                {{profileNumber}}
            </div>
            {{/profile}}
        </div>
    </div> --}}